/*  your css code here. If applicable */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.buttons {
	height : 100vh;
	width : 100vw;
	background-color : #b603fc;
	display: flex;
	justify-content: space-evenly;
	align-items : center;
}
.btn {
	padding : 15px;
	font-size : 20px;
	background-color : #2c153d;
	color : white;
	border-radius: 10px;
}
